*
{
    padding:0px;
    border:0px;
    box-sizing:border-box;
}
body 
{
    background-color: #f3f4f6;
    background-image:url(../image/主页背景.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
div.homepage
{
    width: 760px;
    padding:24px;
    margin:12px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius:5px;
}
.homepage h1
{
    font-size:36px;
    font-weight:700;
    text-align:center;
}
.homepage li
{
    margin:16px;
    list-style:none;
}
.homepage a
{
    font-size:16px;
    font-weight:400;
    text-decoration:none;
    transition:all 0.5s;
}
.homepage a:hover
{
    color:red;
    font-size:24px;
}